<footer class="text-center text-lg-start bg-light text-muted mt-4">

    <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
        <div class="me-5 d-none d-lg-block">
            <span>Kết nối với chúng tôi:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/anhquantran.17" class="me-4 text-reset">
                <i class="fab fa-facebook-f mr-2" style="font-size: 2rem"></i>
            </a>
            <a href="https://www.instagram.com/aqua.boiz/" class="me-4 text-reset">
                <i class="fab fa-instagram" style="font-size: 2rem"></i>
            </a>
        </div>
    </section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Hỗ trợ</h6>
                    <p><a href="#!" class="text-reset">Contact Us</a></p>
                    <p><a href="#!" class="text-reset">Help Center</a></p>
                    <p><a href="#!" class="text-reset">About Us</a></p>
                    <p><a href="#!" class="text-reset">Careers</a></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Điều khoản</h6>
                    <p><a href="#!" class="text-reset">Shipping & Returns</a></p>
                    <p><a href="#!" class="text-reset">Term & Conditions</a></p>
                    <p><a href="#!" class="text-reset">Payment Methods</a></p>
                    <p><a href="#!" class="text-reset">FAQ</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                    <p><i class="fas fa-home me-3"></i> 227 Nguyen Van Cu Street, Ward 4, District 5, Ho Chi Minh City</p>
                    <p><i class="fas fa-envelope me-3"></i>info@hcmus.edu.vn</p>
                    <p><i class="fas fa-phone me-3"></i> + 03 445 007 17</p>
                </div>

            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Group02, 2021
    </div>
</footer>