<header class="header">
    <div class="grid">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand" href="#">Welcome to our service !</div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Call US: 0344.500.717</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Header with search-->
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="" href="/">
                <img src="./img/logo.webp" style="width: 180px; height: auto;">
            </a>
            <form class="form-inline mr-auto ml-4">
                <input class="form-control mr-sm-2 col-md-8" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-lg-0" type="submit">Search</button>
            </form>
            <div class="button-group">
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"></path>
                    </svg>
                    Lịch sử đặt hàng
                </button>
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>
                    Giỏ hàng
                </button>
            </div>
            
        </nav>
        
        <!--Menu-->
        {{!-- #751fff Màu tím này để dùng làm active --}}
        <ul style="background-color:#d1b4ff" class="nav nav-tabs justify-content-center text-white py-2">
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/macbook">MacBook</a>
            </li>
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/iphone">Apple iPhone</a>
            </li>
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/tablet">Tablet</a>
            </li>
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/imac">Apple iMac</a>
            </li>
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/apple-watch">Apple Watch</a>
            </li>
            <li class="nav-item">
                <a style="color:inherit" class="nav-link" href="/airpod">AirPod</a>
            </li>
        </ul>
    </div>
</header>